### Conditional statements
- if
- elif
- else
- nested if

In [2]:
a,b = 12,10
if(a>b): #true
    print("a is greater than b")
else:
    print("a is less than b")

a is greater than b

In [3]:
a,b = 12,10
if(a<b): #false
    print("a is greater than b")
else:
    print("a is less than b")

a is less than b

In [1]:
n1 = int(input("enter 1st number: ")) #8
n2 = int(input("enter 2nd number: ")) #12
n3 = int(input("enter 3rd number: ")) #-16
if(n1>n2 and n1>n3):
    print("n1 is big number")
elif(n2>n1 and n2>n3):
    print(n2, "is big number")
else:
    print(n3, "is big number")

enter 1st number: 8
enter 2nd number: 12
enter 3rd number: -16
12 is big number

In [3]:
n1 =int(input("1st num: "))
n2 =int(input("2nd num: "))
n3 =int(input("3rd num: "))
n4 =int(input("4th num: "))
if(n1>n2 and n1>n3 and n1>n4):
    print(n1,"n1 is big: ")
elif(n2>n1 and n2>n3 and n2>n4):
    print(n2,"n2 is big: ")
elif(n3>n1 and n3>n2 and n3>n4):
    print(n3,"n3 is big: ")
else:
    print(n4, "n4 is big: ")

1st num: 1
2nd num: 2
3rd num: 3
4th num: 4
4 n4 is big:

#### Nested if

In [2]:
n = int(input("enter a number:"))
if(n != 10):
    if(n%2 == 0):
        print(n,"is even number")
    if(n%2 !=0):
        print(n,"is odd number")
else:
    print(n,"is not a positive number")

enter a number:12
12 is even number

In [6]:
n = int(input("enter a number:"))
if(n == 10): # (10 == 10)
    if(n%2 == 0):
        print(n,"is even number")
    if(n%2 !=0):
        print(n,"is odd number")
else:
    print(n,"is not equal to 10")

enter a number:9
9 is not equal to 10

In [10]:
n = int(input("enter a number:"))
if(n == 10): # (10 == 10)
    if(n%2 == 0):
        print(n,"is even number")
    if(n%2 !=0):
        print(n,"is odd number")
else:
    print(n,"is not equal to 10")

enter a number:12
12 is not equal to 10

In [4]:
n = int(input("enter a number:"))
if(n != 10 and not(n<0)):
    if(n%2 == 0):
        print(n,"is even number")
    if(n%2 !=0):
        print(n,"is odd number")
else:
    print(n,"is not a positive number")

enter a number:-12
-12 is not a positive number

In [8]:
n = int(input("enter a number:"))
if(n >=0):
    if(n%2 == 0):
        print(n,"is even number")
    elif(n%2 !=0):
        print(n,"is odd number")
else:
    print(n,"is not a positive number")

enter a number:9
9 is odd number

In [9]:
n = int(input("enter a number:"))
if(n >=0):
    if(n%2 == 0):
        print(n,"is even number")
    if(n%2 !=0):
        print(n,"is odd number")
else:
    print(n,"is not a positive number")

enter a number:12
12 is even number

### Looping statements
- A for loop is used for iterating over a sequence(list,tuple,dictionary,a set, or string)

In [8]:
for i in range(5): # 0 to n-1
    print(i)

0
1
2
3
4

In [9]:
for i in range(1,5): # i=1,i=2,i==2+1,i=3+1
    print(i)

1
2
3
4

In [10]:
for i in range(1,10,2):
    print(i,end=" ")

1 3 5 7 9

In [11]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [12]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [13]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [16]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

In [18]:
lst = [1,5,2,8,10]
for j in lst:
    print(j)

1
5
2
8
10

In [11]:
x = 4
x += 2
print(x)

6

In [14]:
a,b = 5,3
a += b
a -= b

In [ ]:
fruits = ["apple","banana","mango","guava"]