### Data Types and Conversions
* int
* float
* string

In [3]:
n1 = 13
print("n1 = ",n1)
type(n1)

n1 =  13

int

In [4]:
n2 = 13.56
print("n2 = ",n2)
type(n2)

n2 =  13.56

float

In [5]:
s = "apssdc"
print(s)
type(s)

apssdc

str

In [7]:
n = 13
m = 14
print(n)
print(m)
type(n)
type(m)

13
14

int

In [8]:
n = 13
m = 14
print("n = ",n)
print("m = ",m)
type(n)
type(m)

n =  13
m =  14

int

In [9]:
n = 13
m = 14
print(type(n))
print(type(m))

<class 'int'>
<class 'int'>

In [10]:
n = 13
print(type(n))
print(type(str(n)))

<class 'int'>
<class 'str'>

In [11]:
n1 = 2
s = str(n1)
print(type(s))

<class 'str'>

In [12]:
num1 = "12"
num2 = "10"
print(num1+num2)

1210

In [14]:
s1 = "SAI"
s2 = "LAHARI"
print(s1+s2)

SAILAHARI

In [15]:
n1 = 1.5
n2 = 1.5
print(n1+n2)

3.0

### Indentataion

In [18]:
n1,n2 = 13,12
if(n1>n2):
    print("n1 is greater than n2")

n1 is greater than n2

In [24]:
n1,n2 = 13,12
if(n1<n2): #F
    print("n1 is greater than n2")
else:
    print("wrong statement")

wrong statement

### Reading input dynamically

In [1]:
x = input()
print(x)
print(type(x))

12
12
<class 'str'>

In [1]:
a = 123
print(type(a))
f = float(a)
print(type(f))
print(a)
print(f)

<class 'int'>
<class 'float'>
123
123.0

In [1]:
n = int(input("enter a value:"))
print(n)
print(type(n))

enter a value:123
123
<class 'int'>

In [2]:
f = float(input("enter a value:"))
print(f)
print(type(f))

enter a value:15.8
15.8
<class 'float'>

### Operators
1. Arithmetic opertors
2. Assignment operators
3. Comparison operators
4. Logical operators
5. Identity operators
6. Membership operators
7. Bitwise operators

#### 1. Arithmetic operators
- +,-,*,/,%,//,**

In [4]:
a,b =5,3
print("a+b =",5+3)
print("a-b =",5-3)
print("a*b =",5*3)
print("a/b =",5/3)
print("a%b =",5%3)
print("a//b =",5//3)
print("a**b =",5**3)

a+b = 8
a-b = 2
a*b = 15
a/b = 1.6666666666666667
a%b = 2
a//b = 1
a**b = 125

#### 2. Assignment operator
- =,+=,-=,*= etc.,

In [5]:
a = 12
print(a)

12

In [6]:
a += 1 # a = a+1
print(a)

13

In [7]:
a

13

In [8]:
a -= 2 # a=a-2
print(a)

11

In [9]:
a

11

In [10]:
a *= 3 # a=a*3
print(a)

33

#### 3. Comparision operator
- ==,>,<,>=,<=,!=

In [14]:
n1,n2 =5,3
print(n1==n2)
print(n1>n2)
print(n1<n2)
print(n1>=n2)
print(n1<=n2)
print(n1!=n2)

False
True
False
True
False
True

#### 4. Logical operators
- and, or, not

In [19]:
a = 5
print(a<6 and a>2)
print(a<6 or a>2)

True
True

In [20]:
a = 5
print(a<6 and a>2)
res = a<6 or a>2
print(not(res))

True
False

In [21]:
res = a<6 or a>2
print(not(res))

False

#### 5. Identity operators
- is, is not

In [23]:
x,y = 5,3
print(x is y)
print(x is not y)

False
True

In [24]:
a,b = 6,6
print(a is b)
print(a is not b)

True
False

#### 6. Membership operators
- in, not in

In [26]:
fruits = ["apple","guava","mango"]
print('apple' in fruits)
print('grape'in fruits)
print('banana' not in fruits)

True
False
True

#### Bitwise operator
- &,|,^,>>,<<,~

In [1]:
a = int(input("enter 1st value:"))
b = int(input("enter 2nd value:"))
a & b

enter 1st value:5
enter 2nd value:3

1

In [31]:
5 & 3

1

In [32]:
5 | 3

7